* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-size: 16px;
  color: rgb(20, 70, 100);
  background-color: bisque;

}

#root {
  margin: auto;
  height: 100%;
  display: flex;
  justify-content: center;
}

.App {
  width: 1150px;
  height: 100%;
  display: flex;
  justify-content: center;
}

h1,
h3 {
  color: rgb(20, 70, 100);
  margin-top: 20px;
  text-align: center;
}

.page {
  width: 80%;
}